.header-Atividades {
    display: block;
    height: auto;
    width: 100%;
    margin: 0;
    background: #8f1616;
    padding: 0%;
    
    padding-top: 2.5em;
    padding-right: 0;
    padding-bottom: 0px;
    padding-left: 0;
    border-bottom: 1px solid #eee;
}
.header-Atividades h1 {
    text-align: center;
    margin: 0.2em 0;
    font-size: 3em;
    font-weight: 300;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.header-Atividades h2 {
   font-weight: 300;
   color: #ccc;
   padding: 0;
   margin-top: 0;
}
.content-Atividades {
    width: 100%;
    margin-bottom: 50px;
    line-height: 1.6em;
}
.content-Atividades-subhead {
    margin: 50px 0 20px 0;
    font-weight: 300;
    color: #888;
}
ul{
    padding-inline-start: 0px;
}
.title-Atividades{
    color: white;
    width: 100%;
}
.listaTipos-Atividades{
    align-self: center;
}
#tipoTodos-Atividades{
    border-bottom: 1px solid #ffffff;
}
.tipos-Atividades{
    display: inline-block;
    color: white;
    text-align: center;
    height: auto;
    width: 50%;
    border-bottom: 1px solid #8f1616;
}
.tipos-Atividades:hover{
    cursor: pointer;
}
#semAtividade{
    position: relative;
    display: block;
    font-weight: bold;
    font-size: 15pt;

    text-align: center;
}
#headerpesquisa-Atividades{
    position: relative;
    display: block;
    width: 100%;
    height: 52px;
    overflow: hidden;
}
#btFiltro-Atividade{
    position: relative;
    display: inline-block;
    background: none;
    background: url(../img/filter.png) no-repeat;
    padding: 0px;
    border: none;
    width: 52px;
    height: 52px;
    margin-right: 10px;
    margin-left: auto;
    float: right;
}
#pesquisar-Atividade{
    position: absolute;
    display: inline-block;
    top: 0px;
    height: 42px;
    
    padding: 5px;
    left: 15px;
    right: 55px;
    max-width: 600px;
    background-color: transparent;
    border: 0px;
    color: white;
    font-weight: bold;
}
::-webkit-input-placeholder  { color:white; }
input:-moz-placeholder { color:white; }
textarea:-moz-placeholder { color:white; }