#item-PalestrantesItem{
    display:inline-block;
    width: 98%;
    height: auto;
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.nome-PalestrantesItem{
    margin: 2px;
    padding: 0px 7px;
    text-align: justify;
}
.descricao-PalestrantesItem{
    margin: 2px;
    padding: 0px 7px;
    text-align: justify;
}
.contato-PalestrantesItem{
    margin: 2px;
    padding: 0px 7px;
    text-align: justify;
}
.titles-PalestrantesItem{
    color: rgb(65, 65, 65);
    font-weight: bold;
}
.perfil-PalestrantesItem{
    margin-top: 5px;
    position: relative;
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    border: solid 1px black;
}