#content-Palestrantes {
    max-width: 100%;
    overflow: hidden;
}

#content-Palestrantes #header {
    display: table;
    height: auto;
    width: 100%;
    margin: 0;
    background: #8f1616;
    padding: 0%;
    text-align: center;
    padding-top: 2.5em;
    padding-right: 0;
    padding-bottom: 0px;
    padding-left: 0;
    border-bottom: 1px solid #eee;
}

#content-Palestrantes #header h1 {
    margin: 0.2em 0;
    font-size: 3em;
    font-weight: 300;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#content-Palestrantes #header h2 {
    font-weight: 300;
    color: #ccc;
    padding: 0;
    margin-top: 0;
}

#content-Palestrantes #listSpeakers {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    line-height: 1.5em;
    padding: 1%;
}

#content-Palestrantes #listSpeakers-subhead {
    margin: 50px 0 20px 0;
    font-weight: 300;
    color: #888;
}

#content-Palestrantes #header #title {
    color: white;
    width: 100%;
    padding-bottom: 10px;
}

@media (max-width: 1700px) {
    #content-Palestrantes #listSpeakers {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 960px) {
    #content-Palestrantes #listSpeakers {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 48em) {
    #content-Palestrantes #header {
        padding-top: 0em;
    }
    #content-Palestrantes #header h1 {
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 30pt;
    }
}
