.header-Session {
    display: block;
    height: auto;
    width: 100%;
    margin: 0;
    background: #8f1616;
    padding: 0%;
    text-align: center;
    padding-top: 2.5em;
    padding-right: 0;
    padding-bottom: 0px;
    padding-left: 0;
    border-bottom: 1px solid #eee;
}
.header-Session h1 {
    margin: 0.2em 0;
    font-size: 3em;
    font-weight: 300;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.header-Session h2 {
   font-weight: 300;
   color: #ccc;
   padding: 0;
   margin-top: 0;
}
.content-Session {
    width: 100%;
    margin-bottom: 50px;
    line-height: 1.6em;
}
.content-Session-subhead {
    margin: 50px 0 20px 0;
    font-weight: 300;
    color: #888;
}
ul{
    padding-inline-start: 0px;
}
.title-Session{
    color: white;
    width: 100%;
}
.listaTipos-Session{
    align-self: center;
}
#tipoTodos-Session{
    border-bottom: 1px solid #ffffff;
}
.tipos-Session{
    display: inline-block;
    color: white;
    text-align: center;
    height: auto;
    width: 50%;
    border-bottom: 1px solid #8f1616;
}
.tipos-Session:hover{
    cursor: pointer;
}