#content-Sobre #header {
    display: block;
    height: auto;
    width: 100%;
    margin: 0;
    background: #8f1616;
    padding: 0%;
    text-align: center;
    padding-top: 2.5em;
    padding-right: 0;
    padding-bottom: 0px;
    padding-left: 0;
    border-bottom: 1px solid #eee;
}

#content-Sobre #header h1 {
    margin: 0.2em 0;
    font-size: 3em;
    font-weight: 300;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#content-Sobre #header #title {
    color: white;
    width: 100%;
    padding-bottom: 10px;
}

#content-Sobre #corpo {
    display: block;
    position: relative;
    padding: 15px;
}

#content-Sobre #corpo #boxIconIce{
    display: flex;
    justify-content: center;
    width: 100%;
}

#content-Sobre #corpo #boxIconIce #iconIce {
    display: inline-block;
    position: relative;
    width: 80%;
    height: auto;
    max-width: 800px;
    padding: 10px 0;
}

#content-Sobre #corpo p {
    text-align: justify;
}

@media (max-width: 48em) {
    #content-Sobre #header {
        padding-top: 0em;
    }
    #content-Sobre #header h1 {
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 30pt;
    }
}